@model EmptySite.Models.ViewModels.PageViewModel<EmptySite.Models.Pages.ArticlePage>

<h1>
    @Html.PropertyFor(x => x.CurrentPage.Heading) (@Model.CurrentPage.NumberOfCharsInHeading())
</h1>

<div>
    @Html.PropertyFor(x => x.CurrentPage.MainBody)
</div>

@if (@Model.EnableContentArea)
{
    <div>
        @Html.PropertyFor(x => x.CurrentPage.MainContentArea)
    </div>
}